In [4]:
# Dependencies and Setup
import pandas as pd

# File to Load
file_to_load = "HeroesOfPymoli/Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [5]:
user_counts = purchase_data["SN"].unique()
len(user_counts)

576

In [6]:
player_demographics = purchase_data.loc[:, ["Gender", "SN", "Age"]]
player_demographics = player_demographics.drop_duplicates()
d = pd.DataFrame([{"Total Players":len(player_demographics)}])
d

   Total Players
0            576

In [7]:
# Q: If DataFrame is a function why can't I put it at the end?

In [12]:
#o = player_demographics.groupby("Gender").count()
#print(o)
# Q: When I run the above code I get SN and Age shown, but I get the number count on both, why?

gender_count = player_demographics["Gender"].value_counts()
gender_percent = player_demographics["Gender"].value_counts(normalize=True)

#s = pd.DataFrame({[q[0], r[0]]})
#s  <- Why doesnt this produce a table with the info for male?

#t = pd.DataFrame([{"Males":q[0], "Percent": r[0]}])

w = pd.DataFrame([{"Gender": "Male", "Count":gender_count[0], "Percent": gender_percent[0]},
                  {"Gender": "Female", "Count":gender_count[1], "Percent": gender_percent[1]},
                  {"Gender": "Other", "Count":gender_count[2], "Percent": gender_percent[2]}])
w.set_index('Gender', inplace=True)

#Q: pd.DataFrame([{"Gender": "Male", "Count":q[0], "Percent": r[0]}])set_index('Gender', inplace=True)
# Why doesn't the above work?

w

        Count   Percent
Gender
Male      484  0.840278
Female     81  0.140625
Other      11  0.019097

In [13]:

pc = purchase_data["Gender"].value_counts()
app = (purchase_data.groupby(["Gender"])["Price"].sum() / purchase_data["Gender"].value_counts())
tpv = purchase_data.groupby(["Gender"])["Price"].sum()

atp = (purchase_data.groupby(["Gender"])["Price"].sum() / purchase_data["Gender"].value_counts())

    # Variable personal_total = 0 to begin with and variable inst = 1
    # If SN is a duplicate, then add "Price" to a personal_total and add 1 to inst
    # Once through the list devide personal_total by inst for each SN
        ## This would work best if you grabbed SN of a row first and compared it to
        ## all the rest until there are none left to compare it to
        # Maybe this works best in a for loop. For each SN move down the list
        # - but then I need to deleate all the instances of SN seen - so deleate
        # immediatly after calculation is done before proceeding to the next row



v = pd.DataFrame([{"Gender": "Male", "Purchase Count": pc[0], "Average Purchase Price": app[0], "Total Purchase Value": tpv[0],"Avg Total Purchase per Person": atp[0]},
                  {"Gender": "Female", "Purchase Count": pc[1], "Average Purchase Price": app[1], "Total Purchase Value": tpv[1],"Avg Total Purchase per Person": atp[1]},
                  {"Gender": "Other", "Purchase Count": pc[2], "Average Purchase Price": app[2], "Total Purchase Value": tpv[2],"Avg Total Purchase per Person": atp[2]}])
v.set_index('Gender', inplace=True)
v

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Male,652,3.203009,361.94,3.203009
Female,113,3.017853,1967.64,3.017853
Other,15,3.346000,50.19,3.346000

In [15]:
bins = [0, 9.99, 19.99, 29.99, 39.99, 49.99, 59.99, 69.99, 79.99, 89.99, 99.99]

# Create the names for the bins
group_names = ["0-10", "10-20", "20-30", "30-40", "40-50","50-60","70-80","80-90","90-100"]

player_demographics["Age"] = player_demographics.cut(df["Age"], bins, labels=group_names, include_lowest=True)
player_demographics

AttributeError: 'DataFrame' object has no attribute 'cut'