In [4]:
# Dependencies and Setup
import pandas as pd

# File to Load
file_to_load = "../Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [5]:
user_counts = purchase_data["SN"].unique()
len(user_counts)

576

In [6]:
player_demographics = purchase_data.loc[:, ["Gender", "SN", "Age"]]
player_demographics = player_demographics.drop_duplicates()
d = pd.DataFrame([{"Total Players":len(player_demographics)}])
d

   Total Players
0            576

In [12]:
gender_count = player_demographics["Gender"].value_counts()
gender_percent = player_demographics["Gender"].value_counts(normalize=True)

w = pd.DataFrame([{"Gender": "Male", "Count":gender_count[0], "Percent": gender_percent[0]},
                  {"Gender": "Female", "Count":gender_count[1], "Percent": gender_percent[1]},
                  {"Gender": "Other", "Count":gender_count[2], "Percent": gender_percent[2]}])
w.set_index('Gender', inplace=True)

#Q: pd.DataFrame([{"Gender": "Male", "Count":q[0], "Percent": r[0]}])set_index('Gender', inplace=True)
# Why doesn't the above work?

w

        Count   Percent
Gender
Male      484  0.840278
Female     81  0.140625
Other      11  0.019097

In [13]:
pc = purchase_data["Gender"].value_counts()
app = (purchase_data.groupby(["Gender"])["Price"].sum() / purchase_data["Gender"].value_counts())
tpv = purchase_data.groupby(["Gender"])["Price"].sum()

atp = (purchase_data.groupby(["Gender"])["Price"].sum() / purchase_data["Gender"].value_counts())

    # Variable personal_total = 0 to begin with and variable inst = 1
    # If SN is a duplicate, then add "Price" to a personal_total and add 1 to inst
    # Once through the list devide personal_total by inst for each SN
        ## This would work best if you grabbed SN of a row first and compared it to
        ## all the rest until there are none left to compare it to
        # Maybe this works best in a for loop. For each SN move down the list
        # - but then I need to deleate all the instances of SN seen - so deleate
        # immediatly after calculation is done before proceeding to the next row



v = pd.DataFrame([{"Gender": "Male", "Purchase Count": pc[0], "Average Purchase Price": app[0], "Total Purchase Value": tpv[0],"Avg Total Purchase per Person": atp[0]},
                  {"Gender": "Female", "Purchase Count": pc[1], "Average Purchase Price": app[1], "Total Purchase Value": tpv[1],"Avg Total Purchase per Person": atp[1]},
                  {"Gender": "Other", "Purchase Count": pc[2], "Average Purchase Price": app[2], "Total Purchase Value": tpv[2],"Avg Total Purchase per Person": atp[2]}])
v.set_index('Gender', inplace=True)
v

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Male,652,3.203009,361.94,3.203009
Female,113,3.017853,1967.64,3.017853
Other,15,3.346000,50.19,3.346000

In [48]:
bins = [0,9.99, 13.99, 18.99, 23.99, 28.99, 33.99, 38.99, 99.99]

# Create the names for the bins
group_names = ["<10","0-14", "14-19", "19-24", "24-29", "29-34","34-39","40+"]

player_demographics["Age Range"] = pd.cut(player_demographics["Age"], bins, labels=group_names)

age_count = player_demographics["Age Range"].value_counts()
age_percent = player_demographics["Age Range"].value_counts(normalize = True)

age_count

q = pd.DataFrame([{"Age": "<10", "Count":age_count[-1], "Percent": age_percent[-1]},
                  {"Age": "0-14", "Count":age_count[-3], "Percent": age_percent[-3]},
                  {"Age": "14-19", "Count":age_count[2], "Percent": age_percent[2]},
                  {"Age": "19-24", "Count":age_count[0], "Percent": age_percent[0]},
                  {"Age": "24-29", "Count":age_count[1], "Percent": age_percent[1]},
                  {"Age": "29-34", "Count":age_count[3], "Percent": age_percent[3]},
                  {"Age": "34-39", "Count":age_count[4], "Percent": age_percent[4]},
                  {"Age": "40+", "Count":age_count[1], "Percent": age_percent[1]}])
q.set_index('Age', inplace=True)

q

       Count   Percent
Age
<10       17  0.029514
0-14      20  0.034722
14-19     92  0.159722
19-24    227  0.394097
24-29    115  0.199653
29-34     55  0.095486
34-39     32  0.055556
40+      115  0.199653

In [51]:
bins = [0,9.99, 13.99, 18.99, 23.99, 28.99, 33.99, 38.99, 99.99]

# Create the names for the bins
group_names = ["<10","0-14", "14-19", "19-24", "24-29", "29-34","34-39","40+"]

player_demographics["Age Range"] = pd.cut(player_demographics["Age"], bins, labels=group_names)

apc = player_demographics["Age Range"].value_counts()
aapp = (purchase_data.groupby(["Age Range"])["Price"].sum() / purchase_data["Age Range"].value_counts())
atpv = purchase_data.groupby(["Age Range"])["Price"].sum()
aatp = (purchase_data.groupby(["Age Range"])["Price"].sum() / purchase_data["Age Range"].value_counts())


w = pd.DataFrame([{"Age": "<10", "Purchase Count": apc[-1], "Average Purchase Price": aapp[-1], "Total Purchase Value": atpv[-1],"Avg Total Purchase per Person": aatp[-1]},
                  {"Age": "10-14", "Purchase Count": apc[-3], "Average Purchase Price": aapp[-3], "Total Purchase Value": atpv[-3],"Avg Total Purchase per Person": aatp[-3]},
                  {"Age": "14-19", "Purchase Count": apc[2], "Average Purchase Price": aapp[2], "Total Purchase Value": atpv[2],"Avg Total Purchase per Person": aatp[2]},
                  {"Age": "19-24", "Purchase Count": apc[0], "Average Purchase Price": aapp[0], "Total Purchase Value": atpv[0],"Avg Total Purchase per Person": aatp[0]},
                  {"Age": "24-29", "Purchase Count": apc[1], "Average Purchase Price": aapp[1], "Total Purchase Value": atpv[1],"Avg Total Purchase per Person": aatp[1]},
                  {"Age": "29-34", "Purchase Count": apc[3], "Average Purchase Price": aapp[3], "Total Purchase Value": atpv[3],"Avg Total Purchase per Person": aatp[3]},
                  {"Age": "34-39", "Purchase Count": apc[4], "Average Purchase Price": aapp[4], "Total Purchase Value": atpv[4],"Avg Total Purchase per Person": aatp[4]},
                  {"Age": "40+", "Purchase Count": apc[-3], "Average Purchase Price": aapp[-3], "Total Purchase Value": atpv[-3],"Avg Total Purchase per Person": atp[-3]}])
w

KeyError: 'Age Range'

In [ ]:
a